* {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #36D1DC, #5B86E5);
    flex-direction: column;
}

#back {
    background-color: #d0eaf2;
    padding: 2rem;
    border-radius: 10%;
    font-weight: 500;
}

/* Relógio */
#timer {
    display: flex;
}

#clock {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d0eaf2;
    font-size: 3em;
    height: 250px;
    width: 250px;
    border: 3px solid #5B86E5;
    border-radius: 100%;
    color: #5B86E5;
    margin-bottom: 0.5em;
}

/* Botões */
#options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em 0em;
    margin-left: 2em;
}

#options button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    background-color: #5B86E5;
    color : #d0eaf2;
    border-radius: 10%;
    cursor: pointer;
}

/* Marcadores */
#marks {
    color: #36D;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.mark {
    display: flex;
    gap: 5em;
    margin: 1em 0;
}

.mark p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 1.25em;
}

.mark i{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;
}

#ass {
    color: #d0eaf2;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 1em;
}